﻿@model ServiWeb.Models.ViewModels.ListaAsesorViewModel
@{
    ViewBag.Title = "Editar";
}


@using (Html.BeginForm("Editar", "Asesor", FormMethod.Post))
{
<div class="row">
    <h2>@ViewBag.Title</h2>
    @Html.HiddenFor(model => model.IdAsesor)
    <div class="container">
        <div class="row">
            <div class="col-6">
                Nombre Asesor
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:uppercase", maxlength = 200 } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
            <div class="col-6">
                Estado
                <br />
                @Html.EditorFor(model => model.Estado) Activar
            </div>
        </div><br />
            <div class="col-6">
                <input type="submit" value="Guardar" class="btn btn-default bg-warning" />
            </div>
    </div>
</div>
}

