﻿@model List<ServiWeb.Models.ViewModels.ListaAsesorViewModel>
@{
    ViewBag.Title = "Asesor";
}

<h2>@ViewBag.Title</h2>

<div class="col-md-1">
    @Html.ActionLink("Nuevo","Nuevo", null, new { @class = "btn btn-default bg-warning" })
</div>
<br />
<table table id="example" class="table table-striped table-bordered"
       style="width:100%">
    <thead>
        <tr>
            <th style="width: 5%">
                Id
            </th>
            <th style="width: 70%">
                Nombre
            </th>
            <th style="width: 5%">
                Estado
            </th>
            <th style="width: 20%">
                Acción
            </th>
</thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdAsesor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    <a class="btn btn-default bg-warning" href="~/Asesor/Editar/@item.IdAsesor">Editar</a>
                    @Html.ActionLink("Eliminar", "Eliminar", new { id = item.IdAsesor }, new { onclick = "return confirm('Esta seguro que desea eliminar el registro?');", @class="btn btn-default bg-warning"})
                </td>
            </tr>
        }
    </tbody>
</table>

