﻿@model ServiWeb.Models.ViewModels.ListaCategoriaViewModel
@{
    ViewBag.Title = "Editar";
}


@using (Html.BeginForm("Editar", "Categoria", FormMethod.Post))
{
<div class="row">
    <h2>@ViewBag.Title</h2>
    @Html.HiddenFor(model => model.IdCategoria)
    <div class="container">
        <div class="row">
            <div class="col-6">
                Nombre Categoría<br />
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:uppercase", maxlength = 150 } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
            <div class="col-6">
                Descripción<br />
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <br />
        <div class="col-6">
            <input type="submit" value="Guardar" class="btn btn-default bg-warning" />
        </div>
    </div>
</div>
        }
