﻿@model ServiWeb.Models.ViewModels.CategoriaViewModel
@{
    ViewBag.Title = "Crear categoría";
}

@using (Html.BeginForm("Nuevo", "Categoria", FormMethod.Post))
{
<div class="row">
    <h2>@ViewBag.Title</h2>
    <div class="container">
        <div class="row">
            <div class="col-6">
                Nombre categoria
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", maxlength = 400 } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
            <div class="col-6">
                Descripción
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", maxlength = 400 } })
            </div>
        </div>
        <br />
        <div class="col-6">
            <input type="submit" value="Guardar" class="btn btn-default bg-warning" />
        </div>
    </div>
</div>
            }



