﻿@model ServiWeb.Models.ViewModels.ListaBodegaViewModel
@{
    ViewBag.Title = "Editar";
}


@using (Html.BeginForm("Editar", "Bodega", FormMethod.Post))
{
<div class="row">
    <h2>@ViewBag.Title</h2>
    @Html.HiddenFor(model => model.IdBodega)
    <div class="container">
        <div class="row">
            <div class="col-6">
                Nombre Bodega<br />
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:uppercase", maxlength = 400 } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
            <div class="col-6">
                Descripción <br />
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    <br />
    <div class="col-md-1">
        <input type="submit" value="Guardar" class="btn btn-default bg-warning" />
    </div>
    </div>
</div>
}

