﻿@model List<ServiWeb.Models.ViewModels.ListaBodegaViewModel>
@{
    ViewBag.Title = "Bodega";
}

<h2>@ViewBag.Title</h2>

<div class="container-fluid" style="width:100%">
    @Html.ActionLink("Nuevo", "Nuevo", null, new { @class = "btn btn-default bg-warning" })

</div>
<br />
<table table id="example" class="table table-striped table-bordered"
       style="width:100%">
    <thead>
        <tr>
            <th style="width: 5%">
                Id
            </th>
            <th style="width: 35%">
                Nombre
            </th>
            <th style="width: 40%">
                Descripción
            </th>
            <th style="width: 20%">
                Acción
            </th>
</thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdBodega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <a class="btn btn-default bg-warning" href="~/Bodega/Editar/@item.IdBodega">Editar</a>
                @Html.ActionLink("Eliminar", "Eliminar", new { id = item.IdBodega }, new { onclick = "return confirm('Esta seguro que desea eliminar el registro?');", @class = "btn btn-default bg-warning" })
            </td>
        </tr>
        }
    </tbody>
</table>

