﻿@model List<ServiWeb.Models.ViewModels.ListaClienteViewModel>
@{
    ViewBag.Title = "Cliente";
}

<h2>@ViewBag.Title</h2>

<div class="container-fluid" style="width:100%">
    @Html.ActionLink("Nuevo", "Nuevo", null, new { @class = "btn btn-default bg-warning" })

</div>
<br />
    <table table id="example" class="table table-striped table-bordered"
           style="width:100%">
        <thead>
            <tr>
                <th style="width: 5%">
                    Id
                </th>
                <th style="width: 10%">
                    Nit o Cedula
                </th>
                <th style="width: 20%">
                    Nombre
                </th>
                <th style="width: 20%">
                    Dirección
                </th>
                <th style="width: 5%">
                    Telefono1
                </th>
                <th style="width: 5%">
                    Asesor
                </th>
                <th style="width: 10%">
                    Ciudad
                </th>
                <th style="width: 25%">
                    Acción
                </th>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdCliente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nitcc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdAsesor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ciudad)
                    </td>
                    <td>
                        <a class="btn btn-default bg-warning" href="~/Cliente/Editar/@item.IdCliente">Editar</a>
                        @Html.ActionLink("Eliminar", "Index", new { id = item.IdCliente }, new { onclick = "return confirm('Esta seguro que desea eliminar el registro?');", @class = "btn btn-default bg-warning" })
                    </td>
                </tr>
            }
        </tbody>
    </table>

