﻿@model ServiWeb.Models.ViewModels.ClienteViewModel
@{
    ViewBag.Title = "Crear Cliente";
}


@using (Html.BeginForm("Nuevo", "Cliente", FormMethod.Post))
{
<div class="row">
    <h2>@ViewBag.Title</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-2 mb-3">
                <label>Nit</label>
                @Html.EditorFor(model => model.Nitcc, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:uppercase", maxlength = 20 } })
                @Html.ValidationMessageFor(model => model.Nitcc, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3 mb-3">
                <label>Nombre</label>
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:uppercase", maxlength = 200 } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3 mb-3">
                <label>Dirección</label>
                @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:uppercase", maxlength = 200 } })
                @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3 mb-3">
                <label>Telefono1</label>
                @Html.EditorFor(model => model.Telefono1, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:uppercase", maxlength = 50 } })
                @Html.ValidationMessageFor(model => model.Telefono1, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3 mb-3">
                <label>Telefono2</label>
                @Html.EditorFor(model => model.Telefono2, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:uppercase", maxlength = 50 } })
            </div>
            <div class="col-md-3 mb-3">
                <label>Correo Electrónico</label>
                @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control", maxlength = 200 } })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3 mb-3">
                <label>Contacto</label>
                @Html.EditorFor(model => model.Contacto, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:uppercase", maxlength = 100 } })
            </div>
            <div class="col-md-3 mb-3">
                <label>Correo Contacto</label>
                @Html.EditorFor(model => model.CorreoContacto, new { htmlAttributes = new { @class = "form-control", maxlength = 200 } })
            </div>
            <div class="col-md-3 mb-3">
                <label>Teléfono Contacto</label>
                @Html.EditorFor(model => model.TelContacto, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:uppercase", maxlength = 50 } })
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-2 mb-2">
                <label>Asesor</label>
                @Html.DropDownList("IdAsesor", null, "Seleccione....", new { @class = "form-control" })
                @if (!ViewData.ModelState.IsValid && ViewData.ModelState["IdAsesor"] != null && ViewData.ModelState["IdAsesor"].Errors.Count > 0)
                {
                    <span class="text-danger">@ViewData.ModelState["IdAsesor"].Errors[0].ErrorMessage</span>
                }
            </div>
            <div class="col-md-2 mb2">
                <label>Ciudad</label>
                @Html.DropDownList("IdCiudad", null, "Seleccione....", new { @class = "form-control" })
                @if (!ViewData.ModelState.IsValid && ViewData.ModelState["IdCiudad"] != null && ViewData.ModelState["IdCiudad"].Errors.Count > 0)
                {
                    <span class="text-danger">@ViewData.ModelState["IdCiudad"].Errors[0].ErrorMessage</span>
                }
            </div>
            <div class="col-md-3 mb-3">
                <br />
                <input type="submit" value="Guardar" class="btn btn-default bg-warning" />
            </div>
        </div>
    </div>
</div>
 }

