﻿@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/logEstilo.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<div class="wrapper fadeInDown">
    <div class="danger">    
        @ViewBag.Error
    </div>
    <div id="formContent">
        <div class="fadeIn first" style="padding-top:5%; padding-bottom:5%">
            <img src="~/Content/Imagen/logoin.png"  id="icon" alt="User Icon" />
        </div>
        <form action="@Url.Content("~/Acceso/Login")" method="post">
            <input type="text" id="login" class="fadeIn second" name="User" placeholder="Usuario" />

            <input type="password" id="password" class="fadeIn third" placeholder="Contraseña" name="Pass" />

            <input type="submit" value="Entrar" class="fadeIn fourth" />

        </form>
    </div>
</div>
