﻿@model ServiWeb.Models.ViewModels.ListaOperarioViewModel
@{
    ViewBag.Title = "Editar";
}


@using (Html.BeginForm("Editar", "Operario", FormMethod.Post))
{
<div class="row">
    <h2>@ViewBag.Title</h2>
    @Html.HiddenFor(model => model.IdOperario)
    <div class="container">
        <div class="row">
            <div class="col-6">
                Nombre Asesor
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:uppercase", maxlength = 150 } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
            <div class="col-6">
                Estado<br />
                @Html.EditorFor(model => model.Estado)
            </div>
            </div>
<br />
            <div class="col-md-1">
                <input type="submit" value="Guardar" class="btn btn-default bg-warning" />
            </div>
        </div>
        </div>
        }

