﻿@model List<ServiWeb.Models.ViewModels.ListaProductoViewModel>
@{
    ViewBag.Title = "Productos";
    List<SelectListItem> lstBodegaProducto = (List<SelectListItem>)ViewBag.lstBodegaProducto;
}

<h2>@ViewBag.Title</h2>

<div class="container-fluid" style="width:100%">

    <table table id="example" class="table table-striped table-bordered"
           style="width:100%">
        <thead>
            <tr>
                <th style="width: 5%">
                    Id
                </th>
                <th style="width: 20%">
                    Referencia
                </th>
                <th style="width: 40%">
                    Descripción
                </th>
                <th style="width: 15%">
                    Marca
                </th>
                <th style="width: 10%">
                    Dimensión
                </th>
                <th style="width: 5%">
                    IdCategoria
                </th>
                <th style="width: 5%">
                    Acción
                </th>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdProducto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Referencia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Marca)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dimension)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdCategoria)
                    </td>
                    <td>
                        <!-- Button trigger modal -->
                        <input type="button" value="Agregar" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal@(item.IdProducto)" onclick="cargarCombo(@item.IdProducto)">
                        <div class="modal fade" id="exampleModal@(item.IdProducto)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Producto</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-6 mb-2">
                                                @Html.DisplayFor(modelitem => item.IdProducto)
                                                @Html.TextBox("IdProducto", null, new { @class = "form-control", @ReadOnly = true })
                                            </div>
                                            <div class="col-md-6 mb-2">
                                                <div>
                                                    @Html.Label("Bodega")
                                                    @*@Html.DropDownList("idBodega", lstBodegaProducto, null, new { @class = "form-control", id = "idBodega"})*@
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-2">
                                                @Html.Label("Existencias")
                                                @Html.TextBox("IdProducto", null, new { @class = "form-control", @ReadOnly = true })
                                            </div>
                                            <div class="col-md-6 mb-2">
                                                @Html.Label("Cantidad")
                                                @Html.TextBox("Cantidad", null, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input action="action" onclick="window.history.go(-1); return false;" type="button" class="btn btn-success" value="Regresar" />
</div>



<script type="text/javascript">
    function cargarCombo(idProducto) {
        var idPro = idProducto;
            $.ajax({
                type: "GET",
                url: '@Url.Action("llenarBodegaXProductos", "Producto")',
                data: JSON.stringify({ id: idPro}),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
            });
    }

    $(function () {
        $('#idBodega').change(function () {
            var e = document.getElementById("idBodega");
            var f = document.getElementById("idProducto")
            var result = e.options[e.selectedIndex].value;
            var result2 = f.options[e.selectedIndex].value;
             $.ajax({
                    type: "GET",
                    traditional: true,
                    dataType: 'json',
                    data: { value: result, result2 },
                    url: '@Url.Action("CargarExistencia", "Producto")',
                    complete: function (data) {
                    }
                });
        });

     });
</script>
