﻿@model List<ServiWeb.Models.ViewModels.ListaProductoViewModel>
@{
    ViewBag.Title = "Productos";
}

<h2>@ViewBag.Title</h2>

<div class="container-fluid" style="width:100%">

    <table table id="example" class="table table-striped table-bordered"
           style="width:100%">
        <thead>
            <tr>
                <th style="width: 5%">
                    Id
                </th>
                <th style="width: 20%">
                    Referencia
                </th>
                <th style="width: 40%">
                    Descripción
                </th>
                <th style="width: 15%">
                    Marca
                </th>
                <th style="width: 5%">
                    Unidad de Medida
                </th>
                <th style="width: 5%">
                    Dimensión
                </th>
                <th style="width: 5%">
                    IdCategoria
                </th>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdProducto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Referencia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Marca)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnidadMedida)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dimension)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdCategoria)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

