﻿@model ServiWeb.Models.ViewModels.ListaProductoConfirmadoViewModel

@{
    ViewBag.Title = "ListaProductoConfirmadoViewModel";
    @Html.HiddenFor(model => Model.IdProducto)
    @Html.HiddenFor(model => Model.IdBodegaProducto)
    @Html.HiddenFor(model => Model.Dcto)
    @Html.HiddenFor(model => Model.Estado)
}

<tr>
    <td>
        @Html.DisplayFor(model => Model.Descripcion)
        @Html.HiddenFor(model => Model.Descripcion)
    </td>
    <td>
        @Html.DisplayFor(model => Model.Cantidad)
        @Html.HiddenFor(model => Model.Cantidad)
    </td>
    <td>
        @Html.DisplayFor(model => Model.Precio)
        @Html.HiddenFor(model => Model.Precio)
    </td>
    <td>
        @Html.DisplayFor(model => Model.TotalProducto)
        @Html.HiddenFor(model => Model.TotalProducto)
    </td>
    <td>
       Eliminar
    </td>


</tr>
