﻿@model ServiWeb.Models.ViewModels.OrdenTemporalListModel

@{
    ViewBag.Title = "OrdenTemporalListModel";
    @Html.HiddenFor(model => Model.IdProducto)
    @Html.HiddenFor(model => Model.IdCliente)
    @Html.HiddenFor(model => Model.IdBodega)
    @Html.HiddenFor(model => Model.IdBodegaProducto)
}

<tr onclick="OnRowClick (this)">
    <td>
        @Html.DisplayFor(model => Model.Referencia)
        @Html.HiddenFor(model => Model.Referencia)
    </td>
    <td>
        @Html.DisplayFor(model => Model.Descripcion)
        @Html.HiddenFor(model => Model.Descripcion)
    </td>
    <td>
        @Html.DisplayFor(model => Model.NombreBodega)
        @Html.HiddenFor(model => Model.NombreBodega)
    </td>
    <td>
        @Html.TextBoxFor(model => Model.PrecioVenta, null, new { @class = "form-control", style = "width:100px", id = "precio", @ReadOnly = true })
        @Html.HiddenFor(model => Model.PrecioVenta)
    </td>
    <td>
        @Html.TextBoxFor(model => Model.Existencia, null, new { @class = "form-control", style = "width:50px", id = "existencia", @ReadOnly = true })
        @Html.HiddenFor(model => Model.Existencia)
    </td>
    <td>
        @Html.TextBoxFor(model => Model.Cantidad, null, new { @class = "form-control", style = "width:50px", id = "cant", @ReadOnly = true })
        @Html.HiddenFor(model => Model.Cantidad)
    </td>
    <td>
        <a class="ml-auto p-2" style="color:black" href="#" onclick=sumar()>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z" />
                <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z" />
                <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
            </svg>
        </a>
        <a class="ml-auto p-2" style="color:black" href="#" onclick=restar()>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dash-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                <path fill-rule="evenodd" d="M3.5 8a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.5-.5z" />
            </svg>
        </a>
    </td>
</tr>

<script type="text/javascript">
    function sumar() {
        var cant = document.getElementById("cant").value;
        var sum = Number(cant) + 1;
        document.getElementById("cant").value = sum;
    };





    function restar() {        
        var cant = document.getElementById("cant").value;
        var rest = Number(cant) - 1;
        document.getElementById("cant").value = rest;
    };
</script>
