﻿
<!doctype html>
<html lang="en">
<head>
    <title>Servireencauche</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/Content/Chosen/chosen.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css‌​/bootstrap-glyphicon‌​s.css">
    <link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <link href="~/Content/datatables.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>
    <div class="d-flex" style="background:#57ab2a">
        <a href="~/Home/Index" style="padding-top:0.5%"><img src="~/Content/Imagen/logo_ServireEnCauche2.png" style="width:50%; padding-left:20px"/></a>
        <a class="ml-auto p-2" style="color:black" href="~/Cerrar/Logoff"><img src="~/Content/Imagen/Salir.png" style="width:15%"/> Cerrar sesión</a>
    </div>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            @*<div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>*@
            <div class="p-4">
                <ul class="list-unstyled components mb-5">
                    <li>
                        <a href="#" data-toggle="collapse" data-target="#submenu-1"> Maestros <i class="fa fa-fw fa-angle-down pull-right"></i></a>
                        <ul id="submenu-1" class="collapsing">
                            <a href="~/Asesor/Index">Asesor</a>
                            <a href="~/Bodega/Index">Bodega</a>
                            <a href="~/Categoria/Index">Categoria</a>
                            <a href="~/Cliente/Index">Cliente</a>
                            <a href="~/Operario/Index">Operario</a>
                            <a href="~/Producto/Index">Producto</a>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Cartera</a>
                    </li>
                    <li>
                        <a href="~/OrdenVenta/Index">Ventas</a>
                    </li>
                    <li>
                        <a href="#">Orden de pedido</a>
                    </li>
                    <li>
                        <a href="#">Inventario</a>
                    </li>
                    <li>
                        <a href="#">Servillantas la 57</a>
                    </li>
                </ul>

            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">
            @RenderBody()
        </div>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        <script src="~/Scripts/chosen.jquery.min.js"></script>
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>