﻿<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Iniciar sesión </title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
    <link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/umd/popper.js"></script>


    @using System.Web.Optimization


    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquerydp")
    @Styles.Render("~/Content/jquerydpcss")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    @Scripts.Render("~/bundles/jquerydt")
    @Scripts.Render("~/bundles/dtbootstrap4")
    @Scripts.Render("~/bundles/btstr")
    @Scripts.Render("~/bundles/smrnt")
    @Scripts.Render("~/bundles/ctmeditor")
    @Scripts.Render("~/bundles/xlsx")


    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>

    @RenderSection("scripts", required: false)
    <style>
        .login-body {
            width: 100%;
            float: left;
            background: none;
            padding: 4px;
            -moz-border-radius: 0px;
            -webkit-border-radius: 0px;
            border-radius: 0px;
        }
    </style>
</head>
<body>
    @*<nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-banner">


        <img src="~/Content/Imagenes/logo.png" style="width:7%;margin-left:-1%;margin-right:1%;margin-bottom:-1%;margin-top:-1%" alt="" />

    </nav>*@
    <div class="container body-content">
        @RenderBody()
    </div>

</body>
</html>
