﻿@using ServiWeb.Models.ViewModels
@{
    ViewBag.Title = "Asesor de Ventas";
    List<SelectListItem> listaCliente = (List<SelectListItem>)ViewBag.listaClientes;
}
<script src="~/Scripts/script-custom-editor.js"></script>
<script src="~/Scripts/summernote-ext-rtl.js"></script>
<script src="~/Scripts/summernote.js"></script>
<link href="~/Content/summernote.css" rel="stylesheet" />


<div class="container">
    @using (Html.BeginForm())
    {<div class="container border">
            <h2>@ViewBag.Title</h2>
            <style>
                div {
                    text-align: center;
                }
            </style>
            <Center class=form-row>
                <label align="center">Clientes</label>
            </Center>
            <Center class=form-row>
                @Html.DropDownList("idCliente", listaCliente, null, new { @class = "form-control", id = "clientesDrop", style = "width:250px" })
                <textarea class="form-control" type="text" style="display:none" name="observacionText" id="text1"></textarea>
            </Center>
            <br />
            <br />
            <div class="row">
                <div class="col-sm">
                </div>
                <div class="col-sm">
                    <button type="button" id="btnHitorial" class="btn bg-warning">Historial Cliente</button>
                </div>
                <div class="col-sm">
                    @Html.ActionLink("Crear Orden", "NuevaOrden", "OrdenVenta", null, new { @class = "btn btn-default bg-warning" })
                </div>
                <div class="col-sm">
                </div>
            </div>
        </div>
    }
</div>


<script>
    $(function () {
        $('#clientesDrop').change(function () {
            var e = document.getElementById("clientesDrop");
            var result = e.options[e.selectedIndex].value;
            document.getElementById("text1").innerHTML = result;
             $.ajax({
                    type: "POST",
                    traditional: true,
                    dataType: 'json',
                    data: { value: result },
                    url: '@Url.Action("PasarIdCliente", "OrdenVenta")',
                    complete: function (data) {
                    }
                });
        });

     });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/bootstrap-select")
    @Styles.Render("~/Content/Bootstrap-Select/css")
    <script>
        $(function () {
            $("#clientesDrop").chosen();
        });
    </script>

}

@if (TempData["testmsg"] != null)
{
    <script type="text/javascript">
            alert("@TempData["testmsg"]");
    </script>
}

