﻿@model ServiWeb.Models.ViewModels.OrdenViewModel
@{
    ViewBag.Title = "Nueva Orden";

}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<div class="container-fluid" style="width:100%">
    @using (Html.BeginForm("NuevaOrden", "OrdenVenta", FormMethod.Post))
    {
        <div class="container border">
            <h2>@ViewBag.Title</h2>
            @Html.HiddenFor(model => Model.IdCliente)
            <div class="row">
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col">
                    <label></label>
                    <input type="submit" name="operation" id="btnConfirmar" value="Confirmar Orden" class="btn btn-success" style="width:150px" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Nit</label>
                    @Html.TextBoxFor(model => model.Nitcc, null, new { @class = "form-control", style = "width:150px", @readonly = "readonly" })
                </div>
                <div class="col">
                    <label>Nombre</label>
                    @Html.TextBoxFor(model => model.Nombre, null, new { @class = "form-control", style = "width:300px", @readonly = "readonly" })
                </div>
                <div class="col"></div>
                <div class="col">
                    <label>Fecha Creación</label>
                    @Html.TextBoxFor(model => model.Fecha, null, new { @class = "form-control", style = "width:150px", @readonly = "readonly" })
                </div>
            </div>
            <br />
            <div class="container border">
                <div class="row">
                    <div class="col-sm">
                        <label>SubTotal</label>
                        @Html.TextBox("subTotal", null, new { @class = "form-control", id = "subtotal", @ReadOnly = true })
                    </div>
                    <div class="col-sm">
                        <label>Total Dcto</label>
                        @Html.TextBox("totalDcto", null, new { @class = "form-control", id = "dcto", @ReadOnly = true })
                    </div>
                    <div class="col-sm">
                        <label>Vr. Iva</label>
                        @Html.TextBox("VrIva", null, new { @class = "form-control", id = "vriva", @ReadOnly = true })
                    </div>
                    <div class="col-sm">
                        <label>Total</label>
                        @Html.TextBox("total", null, new { @class = "form-control", id = "total", @ReadOnly = true })
                    </div>
                </div>
                <br />
            </div>
        </div>

        <br />

        <div class="container border" id="productos">
            <h4>Productos</h4>
            @Html.Label("Por favor ingrese un valor")
            @Html.TextBoxFor(model => model.Busqueda, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:uppercase", @width = 50, id = "txtBuscar" } })
            <input type="submit" name="operation" id="btnBuscar" value="Buscar" class="btn btn-success" style="width:150px" onclick="borrar" />
            <br />
            <br />
            <div class="container-fluid" style="width:100%">
                <table table id="tblProductos" class="table table-striped table-bordered"
                       style="width:100%">
                    <thead>
                        <tr>
                            <th style="width: 5%">
                                Referencia
                            </th>
                            <th style="width: 40%">
                                Descripción
                            </th>
                            <th style="width: 15%">
                                Nombre Bodega
                            </th>
                            <th style="width: 10%">
                                Precio
                            </th>
                            <th style="width: 10%">
                                Existencia
                            </th>
                            <th style="width: 5%">
                                Cantidad
                            </th>
                            <th style="width: 15%">
                                Eliminar
                            </th>
                    </thead>
                    <tbody>
                        @Html.Hidden("myVarAnexos", 0)
                        @Html.EditorFor(model => model.OrdenTemporalListModel)
                    </tbody>
                </table>
            </div>
        </div>
        <br />

        <div class="container border" id="confirmados">
            <h4>Detalle Orden</h4>
            <table table id="example" class="table table-striped table-bordered"
                   style="width:100%">
                <thead>
                    <tr>
                        <th style="width: 50%">
                            Descripción
                        </th>
                        <th style="width: 10%">
                            Cantidad
                        </th>
                        <th style="width: 10%">
                            Precio Unitario
                        </th>
                        <th style="width: 10%">
                            Total
                        </th>
                        <th style="width: 10%">
                            Acción
                        </th>
                </thead>
                <tbody>
                    @Html.Hidden("myVarAnexos", 0)
                    @Html.EditorFor(model => model.ListaProductoConfirmadoViewModel)
                </tbody>
            </table>
        </div>
    }

    <br />
</div>

<script type="text/javascript">
    function borrar() {
        document.getElementById("txtBuscar").value = "";
    };
</script>


@if (TempData["testmsg"] != null)
{
    <script type="text/javascript">
            alert("@TempData["testmsg"]");
    </script>
}

