﻿@using System.Reflection
@{
    ViewBag.Title = "Inicio";
}

<br />
<br />
<br />
<br />
<div align="center">
    <img src="~/Content/Imagen/logo_ServireEnCauche.png" style="width:70%" />
</div>
@if (TempData["testaccess"] != null)
{
    <script type="text/javascript">
            alert("@TempData["testaccess"]");
    </script>
}